# Для macOS: перед установкой pyaudio выполните
# brew install portaudio
# затем pip install pyaudio
speechrecognition
pyaudio
requests
pyobjc-framework-Quartz
pyobjc-framework-ScriptingBridge
opencv-python
numpy
gTTS
playsound
pyautogui